#set($sourceVariable = $tool.getVariableName($sourceClass))
#set($targetVariable = $tool.getVariableName($targetClass))
#set($sourceSimpleName = $tool.getSimpleName($sourceClass))
#set($targetSimpleName = $tool.getSimpleName($targetClass))
    /**
    * @Description 将$!{sourceSimpleName}转换为$!{targetSimpleName}
    * @param  $!{sourceVariable}
    * @return $!{targetSimpleName}
    */
    public static $!{targetSimpleName} convert($!{sourceSimpleName} $!{sourceVariable}) {
        if ($!{sourceVariable} == null) {
            log.warn("$!{sourceVariable}值为null");
            return null;
        }
        $!{targetSimpleName} $!{targetVariable} = new $!{targetSimpleName}();
#foreach (${setter} in $!{setterList})
        ${setter}
#end
        return $!{targetVariable};
    }